/*cctb v1.0*/


/*字体颜色*/

.color1 {
    color: #03a9f4;
  }
  
  .color2 {
    color: #212121;
  }
  
  .color3 {
    color: #4A4D54;
  }
  
  .color4 {
    color: #81828A;
  }
  
  .color5 {
    color: #AEAEAE;
  }
  
  .color6 {
    color: #D5D6D9;
  }
  
  .color7 {
    color: #ffffff;
  }
  
  .color8 {
    color: #f3f3f3;
  }
  
  .color9 {
    color: #ececec;
  }
  
  .color10 {
    color: #E5E5E5;
  }
  
  .color11 {
    color: #FF5454;
  }
  
  .color12 {
    color: #FFF343;
  }
  
  .color13 {
    color: #FFCC08;
  }
  
  .color14 {
    color: #936803;
  }
  
  .color15 {
    color: #242424;
  }
  
  .color16 {
    color: #BABABA;
  }
  
  .color17 {
    color: #FFD698;
  }
  
  .color18 {
    color: #FFEDCA;
  }
  
  .color19 {
    color: #FB792A;
  }
  
  .color20 {
    color: #A0A5B9;
  }
  
  .color21 {
    color: #007Aff;
  }
  
  .background1 {
    background: #03a9f4;
  }
  
  .background2 {
    background: #212121;
  }
  
  .background3 {
    background: #4A4D54;
  }
  
  .background4 {
    background: #81828A;
  }
  
  .background5 {
    background: #AEAEAE;
  }
  
  .background6 {
    background: #D5D6D9;
  }
  
  .background7 {
    background: #ffffff;
  }
  
  .background8 {
    background: #f3f3f3;
  }
  
  .background9 {
    background: #ececec;
  }
  
  .background10 {
    background: #E5E5E5;
  }
  
  .background11 {
    background: #FF5454;
  }
  
  .background12 {
    background: #FFF343;
  }
  
  .background13 {
    background: #FFCC08;
  }
  
  .background14 {
    background: #936803;
  }
  
  .background15 {
    background: #242424;
  }
  
  .background16 {
    background: #BABABA;
  }
  
  .background17 {
    background: #FFD698;
  }
  
  .background18 {
    background: #FFEDCA;
  }
  
  .background19 {
    background: #FB792A;
  }
  
  .background20 {
    background: #A0A5B9;
  }
  
  .background21 {
    background: #007Aff;
  }